<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.bll.dao.TBgBmDwMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.bll.model.TBgBmDw">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DW" jdbcType="VARCHAR" property="dw" />
    <result column="DWMC" jdbcType="VARCHAR" property="dwmc" />
    <result column="DWJC" jdbcType="VARCHAR" property="dwjc" />
    <result column="DWLS" jdbcType="VARCHAR" property="dwls" />
    <result column="YWM" jdbcType="VARCHAR" property="ywm" />
    <result column="PXH" jdbcType="DECIMAL" property="pxh" />
    <result column="YXBJ" jdbcType="VARCHAR" property="yxbj" />
    <result column="JLSJ" jdbcType="TIMESTAMP" property="jlsj" />
    <result column="XGSJ" jdbcType="VARCHAR" property="xgsj" />
    <result column="CZYBM" jdbcType="VARCHAR" property="czybm" />
    <result column="BS1" jdbcType="VARCHAR" property="bs1" />
    <result column="BS2" jdbcType="VARCHAR" property="bs2" />
    <result column="BS" jdbcType="VARCHAR" property="bs" />
  </resultMap>
</mapper>