<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.bll.dao.TBgBmBmmxMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.bll.model.TBgBmBmmx">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BMLB" jdbcType="VARCHAR" property="bmlb" />
    <result column="BMMX" jdbcType="VARCHAR" property="bmmx" />
    <result column="MXMC" jdbcType="VARCHAR" property="mxmc" />
    <result column="BMJC" jdbcType="VARCHAR" property="bmjc" />
    <result column="PXH" jdbcType="DECIMAL" property="pxh" />
    <result column="YXBJ" jdbcType="VARCHAR" property="yxbj" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="BS" jdbcType="VARCHAR" property="bs" />
    <result column="BS1" jdbcType="VARCHAR" property="bs1" />
    <result column="BS2" jdbcType="VARCHAR" property="bs2" />
  </resultMap>
</mapper>