<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.bll.dao.TBgBmBmlbMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.bll.model.TBgBmBmlb">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BMLB" jdbcType="VARCHAR" property="bmlb" />
    <result column="LBMC" jdbcType="VARCHAR" property="lbmc" />
    <result column="PXH" jdbcType="DECIMAL" property="pxh" />
    <result column="YXBJ" jdbcType="VARCHAR" property="yxbj" />
    <result column="XGBJ" jdbcType="VARCHAR" property="xgbj" />
  </resultMap>
</mapper>