<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.bll.dao.TBgGzDdlcMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.bll.model.TBgGzDdlc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DDBH" jdbcType="VARCHAR" property="ddbh" />
    <result column="DDMS" jdbcType="VARCHAR" property="ddms" />
    <result column="JLSJ" jdbcType="TIMESTAMP" property="jlsj" />
    <result column="BS1" jdbcType="VARCHAR" property="bs1" />
    <result column="BS2" jdbcType="VARCHAR" property="bs2" />
    <result column="BS" jdbcType="VARCHAR" property="bs" />
    <result column="gc" jdbcType="VARCHAR" property="gc" />
    <result column="czy" jdbcType="VARCHAR" property="czy" />
  </resultMap>
</mapper>