<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.bll.dao.TBgYsCscpMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.bll.model.TBgYsCscp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="RQ" jdbcType="VARCHAR" property="rq" />
    <result column="DW" jdbcType="VARCHAR" property="dw" />
    <result column="YSJE" jdbcType="DECIMAL" property="ysje" />
    <result column="PFJE" jdbcType="DECIMAL" property="pfje" />
    <result column="YSR" jdbcType="VARCHAR" property="ysr" />
    <result column="PFR" jdbcType="VARCHAR" property="pfr" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="JLSJ" jdbcType="TIMESTAMP" property="jlsj" />
    <result column="XGSJ" jdbcType="VARCHAR" property="xgsj" />
    <result column="CZYBM" jdbcType="VARCHAR" property="czybm" />
    <result column="BS1" jdbcType="VARCHAR" property="bs1" />
    <result column="BS2" jdbcType="VARCHAR" property="bs2" />
    <result column="BS" jdbcType="VARCHAR" property="bs" />
  </resultMap>
</mapper>