<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.bll.dao.TGridExportMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.bll.model.TGridExport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILENAME" jdbcType="VARCHAR" property="filename" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="GROUPNAME" jdbcType="VARCHAR" property="groupname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEUSER" jdbcType="VARCHAR" property="createuser" />
    <result column="GROUPDISPLAY" jdbcType="VARCHAR" property="groupdisplay" />
    <result column="ROWDATA" jdbcType="LONGVARBINARY" property="rowdata" />
    <result column="COLDATA" jdbcType="LONGVARBINARY" property="coldata" />
  </resultMap>
</mapper>